<div class="page">
  <mat-drawer-container class="whole" autosize>

    <mat-drawer #drawer class="side" opened position="start" mode="side">
      <div class="side-scroll">
        <mat-nav-list class="side-items">

          <!-- Logo -->
          <div class="logo-container">
            <img class="logo-image" src="assets/images/KOSU Board LOGO4.png" />
          </div>

          <div class="border"></div>

          <!-- Home -->
          <mat-list-item routerLink="/statistics">
            <a mat-button class="home">{{ 'Home page' | translate }}</a>
          </mat-list-item>

          <!-- Manage -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>{{ 'Manage' | translate }}</mat-panel-title>
            </mat-expansion-panel-header>

            <ng-container>
              <mat-list-item routerLink="/assignTeam">
                <a mat-button><mat-icon>swap_horiz</mat-icon>{{ 'Assign teams' | translate }}</a>
              </mat-list-item>

              <mat-list-item routerLink="/hourly">
                <a mat-button><mat-icon>hourglass_empty</mat-icon>{{ 'Hourly input' | translate }}</a>
              </mat-list-item>

              <mat-list-item routerLink="/comments">
                <a mat-button><mat-icon>comment</mat-icon>{{ 'Comments' | translate }}</a>
              </mat-list-item>
            </ng-container>

            <mat-list-item routerLink="/incidentInput">
              <a mat-button><mat-icon>input</mat-icon>{{ 'Incident input' | translate }}</a>
            </mat-list-item>
          </mat-expansion-panel>

          <!-- Structure -->
          <mat-expansion-panel expanded>
            <mat-expansion-panel-header>
              <mat-panel-title>{{ 'Structure' | translate }}</mat-panel-title>
            </mat-expansion-panel-header>

            @for(item of menu[1].items;track item){
            <mat-list-item [routerLink]="item.link">
              <a mat-button><mat-icon>{{item.icon}}</mat-icon>{{ item.label | translate }}</a>
            </mat-list-item>
            }

          </mat-expansion-panel>

        </mat-nav-list>
      </div>
    </mat-drawer>
    <mat-drawer-content class="drawer-container" style="height: auto;">

      <div class="header-div" style="border-bottom: 3px solid #f0f0f0;">
        <button class="menuBtn" (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
        <a style="padding-left: 50px;">{{($title|async) | translate }}</a>
        <div class="header-right">
          <mat-icon aria-hidden="false" aria-label="User icon">person_outline</mat-icon>
          <a [matTooltip]="user?.role!">{{ user?.userName! }}</a>
          <mat-icon [matTooltip]="'Log Out'|translate" (click)="logOut()"
            style="padding-left: 25px;cursor: pointer;">logout</mat-icon>
        </div>
      </div>

      <!-- <div style="height: 100px;overflow-y: auto;"> -->
<div style="padding: 0px;">
        <router-outlet class="layout-router"></router-outlet>

</div>
    </mat-drawer-content>
  </mat-drawer-container>


</div>