<div class="content">
  <!-- <h1 class="page-title" *appShowOnMobile="false">
    {{ 'Users' | translate }}
  </h1> -->

  <h1 class="page-title" *appShowOnMobile="true">
    @if(selectedElement >= 0){
    {{ userData.filteredData[selectedElement].firstName}} {{userData.data[selectedElement].lastName}}
    }
  </h1>


  <div class="button-group" *appShowOnMobile="false">
    <mat-form-field appearance="outline" class="filter-input">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="filterTable($event)" placeholder="Ex. ium" #input>
    </mat-form-field>
    <button mat-stroked-button class="return" color="primary" (click)="openCreateUserDialog(null)"
      *ngIf="role === 'Administrator'">
      {{ 'New user' | translate }}<mat-icon>person_add</mat-icon>
    </button>
  </div>

  @if(users$ | async) {
  <div class="table-container" *appShowOnMobile="false">
    <table mat-table [dataSource]="userData" class="users-table">

      <ng-container matColumnDef="userName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="sort('userName')">
          <div class="sortCell">
            {{ 'Username' | translate }}
            @if(firstCall==='userName' && order===true){<mat-icon>arrow_downward</mat-icon>}@else
            {@if(firstCall==='userName' && order===false){<mat-icon>arrow_upward</mat-icon>}}
          </div>
        </th>
        <td mat-cell *matCellDef="let user">{{ user.userName }}</td>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="sort('firstName')">
          <div class="sortCell">
            {{ 'First name' | translate }}
            @if(firstCall==='firstName' && order===true){<mat-icon>arrow_downward</mat-icon>}@else
            {@if(firstCall==='firstName' && order===false){<mat-icon>arrow_upward</mat-icon>}}
          </div>
        </th>
        <td mat-cell *matCellDef="let user">{{ user.firstName}}</td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="sort('lastName')">
          <div class="sortCell">
            {{ 'Last name' | translate }}
            @if(firstCall==='lastName' && order===true){<mat-icon>arrow_downward</mat-icon>}@else
            {@if(firstCall==='lastName' && order===false){<mat-icon>arrow_upward</mat-icon>}}
          </div>
        </th>
        <td mat-cell *matCellDef="let user">{{user.lastName}}</td>
      </ng-container>

      <ng-container matColumnDef="roleName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="sort('roleName')">
          <div class="sortCell">
            {{ 'Role name' | translate }}
            @if(firstCall==='roleName' && order===true){<mat-icon>arrow_downward</mat-icon>}@else
            {@if(firstCall==='roleName' && order===false){<mat-icon>arrow_upward</mat-icon>}}
          </div>
        </th>
        <td mat-cell *matCellDef="let user">{{ user.roleName }}</td>
      </ng-container>

      <ng-container matColumnDef="active">
        <th mat-header-cell *matHeaderCellDef>
          {{ 'Active' | translate }}
        </th>
        <td mat-cell *matCellDef="let user">
          <div *ngIf="user.active"><mat-icon style="color: green;">check</mat-icon></div>
          <div *ngIf="!user.active"><mat-icon style="color: red;">close</mat-icon></div>
        </td>

      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef (click)="sort('email')">
          <div class="sortCell">
            {{ 'Email' | translate }}
            @if(firstCall==='email' && order===true){<mat-icon>arrow_downward</mat-icon>}@else {@if(firstCall==='email'
            && order===false){<mat-icon>arrow_upward</mat-icon>}}
          </div>
        </th>
        <td mat-cell *matCellDef="let user">{{ user.email }}</td>
      </ng-container>

      <ng-container matColumnDef="button">
        <th mat-header-cell *matHeaderCellDef>

        </th>
        <td mat-cell *matCellDef="let user">
          <button [matTooltip]="'Edit'|translate" mat-icon-button color="primary" class="custom-icon-button"
            (click)="openCreateUserDialog(user)">
            <mat-icon>edit</mat-icon>
          </button>
          <button [matTooltip]="'Delete'|translate" mat-icon-button color="warn" class="custom-icon-button"
            (click)="deleteUser(user.userName)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row class="mat-header-row" *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row class="mat-row" *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    


  </div>

  <!-- MOBILE TABLE -->
  <div class="mobile-table" *appShowOnMobile="true">
    <div class="filter-sort" [ngStyle]="{ 'display': selectedElement >= 0 ? 'none' : 'flex' }">
      <mat-form-field class="mobile-filter" appearance="outline" [ngStyle]="{ 'display': !order ? 'none' : 'flex' }">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="filterTable($event)" placeholder="Ex. ium" #input>
      </mat-form-field>

      <div class="sort-buttons" style="display: flex;justify-content: space-between;width: 100%;"
        [ngStyle]="{ 'display': !order ? 'none' : 'flex' }">
        <button mat-stroked-button color="primary" class="return" (click)="order=false">
          <i class="material-icons">sort_by_alpha</i>
        </button>
        <a class="sort-property" *ngIf="sortedPropety && selectedElement < 0">
          {{sortedPropety |translate}}
          <mat-icon *ngIf="sortedOrder">arrow_upward</mat-icon>
          <mat-icon *ngIf="!sortedOrder">arrow_downward</mat-icon>
        </a>
      </div>
    </div>
    @if(selectedElement < 0){ @if(order){ <table mat-table [dataSource]="userData" class="users-table " >

      <ng-container matColumnDef="firstName">

        <td mat-cell *matCellDef="let user;let i = index"
          (click)="selectedElement = i + userData.paginator!.pageIndex * 10;">
          <div>
            <h3>{{ user.firstName}} {{user.lastName}}</h3>
            <a>{{user.roleName}}</a>
          </div>
          <mat-icon>arrow_forward_ios</mat-icon>
        </td>


      </ng-container>
      <tr mat-row class="mat-row" *matRowDef="let row; columns: ['firstName'];"></tr>
      </table>

      
      }
      @else{
      <div class="sort-container">
        <div class="sort-div">
          <h3>{{'Sort by' | translate}}:</h3>
          <button mat-stroked-button class="back-button" color="primary" (click)="order=true">
            <mat-icon class="back-key">keyboard_return</mat-icon>
            {{''|translate}}
          </button>
        </div>
        <div class="details">
          @for(property of sortByProperties;track property){
          <div class="details-row">
            <a style="align-self: center;">{{property.value | translate}}</a>
            <div>
              <button mat-icon-button color="primary" class="custom-icon-button" (click)="sortMobile(property,true)">
                <mat-icon>arrow_upward</mat-icon>
              </button>
              <button mat-icon-button color="primary" class="custom-icon-button" (click)="sortMobile(property,false)">
                <mat-icon>arrow_downward</mat-icon>
              </button>
            </div>
          </div>
          }
        </div>
      </div>
      }
      }@else{
      <div class="details-container">
        <div class="details-content">
          <div class="return-button-div">
            <button mat-stroked-button class="back-button" color="primary" (click)="selectedElement=-1;">
              <mat-icon class="back-key">keyboard_return</mat-icon>
            </button>
          </div>
          <!-- <a class="mobile-table-name">{{ selectedElement.firstName}} {{selectedElement.lastName}}</a> -->
          <div class="details">
            <div class="details-row">
              <a style="font-weight: bold;">{{'Username' | translate}}</a>
              <a>{{userData.filteredData[selectedElement].userName}}</a>
            </div>
            <div class="details-row">
              <a style="font-weight: bold;">{{'Phone number' | translate}}</a>
              <a>{{userData.filteredData[selectedElement].phoneNumber}}</a>
            </div>
            <div class="details-row">
              <a style="font-weight: bold;">{{'Rolename' | translate}}</a>
              <a>{{userData.filteredData[selectedElement].roleName}}</a>
            </div>
            <div class="details-row">
              <a style="font-weight: bold;">{{'Active' | translate}}</a>
              <div *ngIf="userData.filteredData[selectedElement].active" style="height: 15px;"><mat-icon
                  style="color: green;">check</mat-icon></div>
              <div *ngIf="!userData.filteredData[selectedElement].active" style="height: 15px;"><mat-icon
                  style="color: red;">close</mat-icon></div>
              <!-- <a>{{selectedElement.active}}</a> -->
            </div>
            <div class="details-row">
              <a style="font-weight: bold;">{{'Email' | translate}}</a>
              <a>{{userData.filteredData[selectedElement].email}}</a>
            </div>

          </div>
        </div>
        @if(selectedElement >= 0)
        {
        <div class="details-buttons" *ngIf="role==='Administrator'">
          <button mat-stroked-button color="primary" style="color: red;"
            (click)="deleteUser(userData.filteredData[selectedElement].userName);">
            <mat-icon style="color: red;">delete</mat-icon>
            {{'Delete'|translate}}
          </button>
          <button mat-stroked-button color="primary"
            (click)="openCreateUserDialog(userData.filteredData[selectedElement])">
            <mat-icon>edit</mat-icon>
            {{'Edit'|translate}}
          </button>
        </div>
        }

      </div>
      }
  </div>
  }

  @if(userData.filteredData.length===0 && order){
    <div *appLoading class="empty">
      <mat-icon>hourglass_empty</mat-icon>
      <h3>
        {{'No records to display'| translate}}
      </h3>
    </div>
    }
  <div [ngClass]="{ 'paginator-hide': selectedElement >= 0 || !order,'paginator': selectedElement < 0}">
    <div >
      <mat-paginator [pageSizeOptions]="[10,15, 20]" showFirstLastButtons >
      </mat-paginator>
    </div>
  </div>
</div>