@import url('scrollbar-style.css');

mat-form-field {
    width: 100%;
}
h2 {
    color:  #3F51B5;
}
button {
    /* width: 150px; */
    margin-bottom: 22px;
}
.content-card {
    padding-bottom: 0px;
    padding-top: 5px;
}
/* style="overflow-y: auto;display: flex;flex-direction: column;padding-bottom: 0px;" */