@import url('scrollbar-style.css');
@import url('table-style.css');
/* Content styling */
.content {
    /* max-width: 1700px; */
    margin: 0 auto;
    min-height: calc(100vh - 60px);
    width: 100%;
    max-width: 1920px;
    background: white;
    padding: 20px;
    box-sizing: border-box;
}

.page-title {
    color: #3F51B5;
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 0px;

}

/*Buttons*/
.button-group {
    display: flex;
    justify-content: space-between;
    /* Items on opposite sides */
    flex-wrap: wrap;
    /* Wrap items into a column when too small */
    border-top: 3px solid #f0f0f0;
    padding-top: 25px;
}

.filter-input,
.return {
    width: 230px;
}


.mat-mdc-outlined-button {
    height: 56px;
    border-color: rgba(0, 0, 0, 0.24);
}


/* Table styling */
.table-container {
    overflow-x: auto;
    height: 100%;
}

/* .mat-table {
    font-size: 5px;
} */

.users-table {
    width: 100%;
    border-collapse: separate;
}

/* .mat-header-cell {
    background-color: #3F51B5;
    color: white;
    font-weight: bold;
    text-align: left;
  } */



.mat-column-button {
    min-width: 105px;
    width: 105px;
    text-align: right;

}

/*----Buttons styling*/

.custom-icon-button:hover {
    background-color: rgba(161, 26, 26, 0.04);
    border-radius: 7px;
    /* Optional: subtle hover effect */
}

.custom-icon-button {
    padding-top: 8px;
    border: none;
    background-color: transparent;
}

.custom-icon-button mat-icon {
    font-size: 18px;
    color: #3F51B5;
}

/* Empty table styling*/




@media (max-width: 840px) {
    .content {
        min-height: calc(100vh - 50px);
        display: flex;
        flex-direction: column;
    }

    .page-title {
        font-size: 1.2rem;
        text-align: center;
        margin-bottom: 0px;
    }

    .filter-sort {
        /* border-top:1px solid #f0f0f0; */
        width: 100%;
        display: flex;
        align-items: top;
        padding-top: 5px;
        flex-wrap: wrap;
        padding-bottom: 10px;
        /* justify-content: end; */
    }

    .filter-sort .mat-mdc-outlined-button {
        height: 36px !important;
        width: 50px;
    }

    .mobile-filter {
        width: 100%;
    }

    .sort-buttons {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: -10px;
    }

    .sort-property {
        font-weight: bold;
        display: flex;
        align-items: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    td h3 {
        color: #3F51B5;
        margin-bottom: 5px;
        font-size: 1.2rem;
        margin-top: 0px;
    }

    td {
        padding: 13px 20px 13px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: -20px;
        margin-right: -20px;
    }

    tr {
        font-size: 15px;
    }

    .mobile-table {
        display: contents;
    }

    .mobile-table-name {
        font-weight: bold;
        padding-left: 15px;
        color: #3F51B5;
        font-size: 1.2rem;
        padding-bottom: 15px;
    }

    .details-row {
        display: flex;
        justify-content: space-between;
        border-bottom: 3px solid #f0f0f0;
        /* padding: 10px; */
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .return-button-div {
        width: 100%;
        text-align: end;
    }

    .return-button-div .mat-mdc-outlined-button,
    .sort-div .mat-mdc-outlined-button {
        width: 30px;
        height: 40px;
        align-self: end;
        /* font-size: 2.2rem; */
        border: none;
        margin-right: -10px;
        margin-bottom: 10px;
    }

    .back-key {
        margin: 0;
        font-size: 2.2rem;
        height: 32px;
        width: 32px;
        padding-right: 4px;
    }

    .sort-div {
        display: flex;
        justify-content: space-between;
    }

    .custom-icon-button {
        border: 1px solid #f0f0f0;
        margin-left: 10px;
    }

    .details-buttons {
        width: calc(100vw - 40px);
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 40px;
        gap: 20px;

    }

    .details-buttons .mat-mdc-outlined-button {
        height: 35px;
        flex: auto;
        max-width: 150px;
    }

    .empty {
        flex: 1;
        border-top: 1px solid #3F51B5;
        height: 100%;
        margin-top: 5px;
    }

    .paginator-hide {
        display: none;
    }

    ::ng-deep .mat-mdc-paginator-page-size {
        display: none !important;
    }
}